body {
  padding-top: 2em;
}

.btn-row {
  display: inline-block;
}

.btn-row > .btn-spacing:not(:last-child) {
  margin-right: 10px;
}

.homepage-padding {
  padding-top: 10em;
}

.passport-top-padding {
  padding-top: 1em;
}

.top-padding {
  padding-top: 2em;
}

.qr-container {
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #fffaf0;
}
